<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Unhas - Contato</title>
    <link rel="stylesheet" href="../static/contato.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact">
            <h1>Entre em Contato</h1>
            <p>Peça esmaltes para viagem ou agende seu horário no nosso Studio:</p>
            <form>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" rows="5" placeholder="Digite sua mensagem"></textarea>

                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© 2024 Studio Unhas. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
