<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo à nossa Loja de Esmaltes</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <!-- Seção Hero com imagem de fundo -->
    <section class="hero">
        <div class="welcome-text">
            <h1>Bem-vindo à nossa loja de Esmaltes</h1>
            <p>Nosso espaço é dedicado a oferecer os melhores esmaltes das melhores marcas, com um ambiente acolhedor e profissional.</p>
            <button>Saiba mais</button>
        </div>
    </section>

    <!-- Seção para mais conteúdo -->
    <section class="about">
        <h2>Sobre nós</h2>
        <p>Somos uma loja especializada em esmaltes das melhores marcas, com profissionais altamente capacitados.</p>
    </section>

    <footer>
        <p>&copy; 2024 Loja de Esmaltes. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
